:root {
  --bg: #242424;
  --card-bg: #1e1e1e;
  --text: #e5e7eb;
  --muted: #9ca3af;
  --brand: #3b82f6;
  --brand-hover: #2563eb;
  --control-h: 28px;
  --radius: 12px;
  --shadow: 0 4px 14px rgba(0,0,0,0.6);
  --border: 1px solid #2d2d2d;

  --leader: #3b82f6; /* blue */
  --member: #22c55e; /* green */
  --guest:  #a855f7; /* purple */
}

#root {
  height: 100%;
  width: 100%;
  max-width: none;
  margin: 0;
  text-align: center;
}
